body{
    font-family: 'Roboto', sans-serif;
}

main{
    /* max-width: 500px; */
    height: 100vh;
    flex-direction: column;
}

.logo{
    position: absolute;
    width: 180px;
    top: 0;
    z-index: 10;
}

.heroImage{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.heroImage img{
    position: absolute;
    border-radius: 0 0 75px 75px;
    
    top: -280px;
}

.travel_title h2{
    font-size: 30px;
    font-weight:800;
    color:#fff;
}
.travel_title img{
    width: 160px;
}

.travel_info{
    width: -webkit-fill-available;
    flex-direction: column;
}

.schedule_button {
    justify-content: space-evenly;
    margin: 28px 0 28px 0;
    width: 230px;
    height: 42px;
    border-radius: 50px;
    outline: 3px solid #fff;
}

.schedule_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.schedule_button a{
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
}

.travel_description{
    display: flex;
    flex-direction: column;
 }
 .travel_description_text{
     width: 75%;
 }
 .travel_description_text p{
     font-size: 14px;
     color: #858585;
     text-align: justify;
 }
 .travel_description_price{
    width: 50%;
    height: 60px;
    margin: 28px 0 10px 0;
}
 .travel_description_price p{
    color: #FFC107;
    font-size: 20px;
    font-weight: 500;
}
 .travel_free_pack {
    width: 70%;
 }
 .travel_free_pack p {
    font-size: 14px;
     color: #858585;
 }

 .travel_adds {
    display: flex;
    gap: 10px;
    margin: 28px 0 32px 0;
 }
 .travel_adds span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: 2px solid #FFC107;
 }

 .travel_circles {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #FFC107;
 }
 .travel_circles::after {
    content: '';
    position: absolute;
    width: 515px;
    height: 500px;
    border-radius: 50%;
    background: #2A384A;
    top: 293px;
    left: -13px;
    transform: rotate(36deg);
 }