/* ============= Blog heading Section ============= */
.blog_heading{
    width: 90%;
    height: 40px;
    position: static;
    border-bottom: solid 2px
     var(--white);
}
.blog_heading h3{
    color: var(--white);
}

/* ============= Blog Link  ============= */
.blog_link {
    width: 85%;
    height: 44px;
    background-color: rgba(10, 25, 46, 0.78);
    /* border: solid 2px var(--white); */
    border-radius: 30px 30px 0 0;
    /* margin-bottom: 25px; */
}

/* ============= Card blog Section ============= */
/* .blog_contain{
    width: 100%;
    display: grid;
    justify-items: center;
} */

/* ============= Blog Swiper ============= */
.blog_swiper{
    width: 85%;
    height: 422px;
    background-color: rgba(10, 25, 46, 0.78);
    /* border: solid 2px var(--white); */
    border-radius: 0 0 35px 35px;
}
.blog_swiper img{
    /* position: absolute; */
    border-radius: 0 0 26px 26px;
    width: -webkit-fill-available;
    width: 90%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/* ============= Card ============= */
.card_blog{
    width: 85%;
    box-sizing: border-box;
    margin-top: 30px;
}

.link_vega{
    height: auto;
    background-color: var(--light-base);
    justify-content: space-evenly;
}
.link_vega p{
    color: var(--light-grey);
    /* margin-right: 60px; */
}

.img_card_contain{
    border: solid 3px var(--light-base);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
}

.img_card{
    max-width: 100%;
    background-size: contain;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.card_text{
    width: 90%;
}
.card_text h4{
    margin: 12px;
    font-size: 20px;
    font-weight: 800;
}

.card_text p{
    font-weight: 200;
    text-align: center;
}

/* ============= @Media Querys min-width ============= */
/* ============= Blog ============= */
@media only screen and (min-width: 425px) {
    /* ============= Blog Swiper ============= */
.blog_swiper{
    width: 85%;
    height: 530px;
}
.blog_swiper img{
    /* position: absolute; */
    border-radius: 0 0 26px 26px;
    width: -webkit-fill-available;
    width: 90%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
}