

/* ============= Viaje heading ================= */
.travel_heading {
    flex-direction: column;
    gap: 20px;
}
.travel_heading h3 {
    color: var(--very-dark-blue);
    padding: 8px 60px;
    border-radius: 15px;
    position: absolute;
    top: 130px;
    z-index: 10;
}
.logo{
    width: 70%;
    position: absolute;
    z-index: 11;
}

/* ============= Hero Image ================= */
.hero_image{
    width: 100%;
    height:500px;
    
}
.hero_image h3{
    position: relative;
    z-index: 10;
    top: 0;
}
.hero_image img{
    position: absolute;
    border-radius: 0 0 75px 75px;
    width: -webkit-fill-available;
    top: 0;
    width: 100%;
   /*  height: 80%; */
    object-fit: cover;
    object-position: center;
}

/* ============= Title Viaje ================= */
.title_viaje{
    margin-top: 20px;
}

.title_viaje h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* ============= Rating y tag ================= */
.rating_tag {
   margin-top: 10px;
   margin-bottom: 10px;
}
.rating{
   margin: 15px 0 20px 0;
   gap: 10px;
}

/* ============= Lugares a visitar ================= */
.places {
    flex-direction: column;
}
.places h3 {
    color: var(--white);
}
.places_list {
    align-items: start;
    margin-left: 20px;
    color: var(--white);
    gap: 10px;
    font-weight: 100;
    /* display: none; */
    /* overflow: hidden; */
}
.places_list ul li{
    font-size: 13px;
}

/* ============= Tips a tener en cuenta ================= */
 .travel_adds_contain {
    flex-direction: column;
  }
 .travel_adds_section {
    gap: 10px;
 }
 .travel_add_item {
    flex-direction: column;
 }
 .travel_add_item h4 {
    color: var(--white);
    font-weight: 100;
    margin-top: 8px;
 }

/* ============= Frase Section  ================= */
 .frase_section{
    width: 100%;
    height: 200px;
    background-color: var(--dark-light-blue);
    box-sizing: border-box;
}
.frase_section .img_frase_1{
    position: absolute;
    top: 1137px;
    left: -75px;
    width: 144px; 
}
.frase_section p{
    text-align: center;
    max-width: 90%;
    font-size: 18px;
    font-weight: 100;
}

/* ============= Price Section  ================= */
.travel_description_price{
    flex-direction: column;
    gap: 10px;
    height: 60px;
}
.travel_description_price h3{
    color: var(--white);
    font-size: 16px;
    font-weight: 100;
}
 .travel_description_price p{
    color: var(--vega-yellow);
    font-size: 32px;
    font-weight: 500;
}

/* ============= Ver mas Section  ================= */
.view_more_section {
    flex-direction: column;
}
.view_more_content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-weight: 200;
    display: none;
    overflow: hidden;
}
.view_more_content h4 {
    color: var(--white);
    font-weight: 200;
}
.view_more_content span {
    font-weight: bold;
}

/* =========== Linea ============ */
.linea {
    border-bottom: 1px solid var(--white);
    margin: -16px auto 0 auto;
    padding: 0 38px;
}

/* ============= Circulos Section  ================= */


.circle_img{
    
}

/* .center_circles {
    display: flex;
    justify-content: center;
    height: 460px;
    width: 250px;
    overflow: hidden;
 }
.travel_circles {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    background: var(--vega-yellow);
 }
 .travel_circles::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--dark-light-blue);
    top: 10px;
    right: 5px;
 } */

 .line {
    border-bottom: 2px solid var(--white);
    margin: 25px auto 25px auto;
    padding: 0 140px;
 }

/* ============= Date ================= */
.date_info {
    position: absolute;
    flex-direction: column;
}
.date_info .travel_date_title {
    color: var(--white);
    gap: 10px;
}
.date_info img {
    height: 25px;
    width: 25px;
}
.date_info .travel_date {
    font-size: 30px;
    color: var(--white);
}

/*=============== Countdown ===============*/
.coming_soon {
    color: var(--white);
}
.coming_soon, .title_countdown {
    flex-direction: column;
}
.coming_soon .title_countdown h2 {
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 100;
}
.countdown {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 28px;
}
.recuerda_countdown {
    font-size: 12px;
    width: 230px;
}
.day,
.hour,
.minute,
.second {
    font-size: 34px;
    color: var(--vega-yellow);
}
.countdown p {
    font-size: 14px;
    font-weight: 100;
}

/*=============== Politcas ===============*/
.politicas {
    flex-direction: column;
    gap: 20px;
}
.politicas h3 {
font-size: 26px;
}

/*=============== Icono del boton Realizar Pago ===============*/
.schedule_icon {
    width: 20px;
    height: 20px;
}