

body{
    position: fixed;
    background-color: var(--dark-blue);

}

main{
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 25px 0 30px 0;
}

.landing_container{
    width: 100%;
    height: 70%;
    justify-content: space-evenly;
}

.text_landing{
   width: 305px;
    height: 137px;
    background-color: rgb(37 45 56 / 59%);
    border-radius: 92px;
    border: solid 5px var(--vega-yellow);
    z-index: 22;
}

.p1_text_landing, .p2_text_landingp{
    margin-bottom: -8px;
}

.text_landing .text_landing_js{
    font-size: 40px;
    color: var(--vega-yellow);
    font-weight:900;
    /* margin-top: -8px; */
}

.ocupation_landing {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 200;
    z-index: 22;
}



.p1_text_landing{
    font-weight: 500;
    font-size: 30px;
}

.p2_text_landing{
    font-weight: 100;
    font-size: 25px;
}
.logo_link{
    z-index: 22;
}

.landing_logo {
    width: 80%;
 
}

.landing_bottom{
    width: 100px;
    height: 35px;
    font-size: 14px;
    color: var(--white);
    outline: 2px solid var(--white);
    margin-bottom: 20px;
    border-radius: 35px;
    z-index: 22;
}
/* .container_video{
    position: fixed;
    max-width:100%;
    max-height: 100%;
}
 */
/* .act_video{
    display: none;
} */
video{
   min-width:100%;
   min-height: 100%;
    position: fixed;
    opacity: 0.7;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/* == Segundo section se activa en 1024px */

.footer_and_buttom_section{
    display: none;
}

/* ====================================== */

footer{
    z-index: 22;
    height: 100px;
    margin-bottom: 50px;
}

.socialmedia_footer{
    margin-top: 5px;
    
}

.social_icon {
    margin-top:20px;
    gap: 10px;
}

#icon{
    width: 20px;
}
.copy_right {
    margin-top: 15px;
    font-weight: 100;
}


.copy_right a p, .copy_right p,.copy_right p span {
    margin-top: 5px;
    color:var(--white) ;
}
.copy_right p span a {
    color:var(--vega-yellow) ;
}
.copy_right p {
    font-size: 15px;
}
.circle_vegayelow{
    display: none;
}
.img_landing{
    display:none;
}

/* =========== @Media Querys ============ */
/* ======== Landing Page ======== */

/* @media only screen and (min-width: 425px) {

} */

@media only screen and (min-width: 700px) {
    
    /* ==========  text effect =========  */
    .text_landing{
        background-color: none;
        border: none;
    }
    /* .p1_text_landing{
        font-size: 50px;
    }
    
    .p2_text_landing{
        font-size: 40px;
    }
    .text_landing .text_landing_js{
        font-size: 60px;
    } */
    .landing_container{
        justify-content: center;

    }

    .logo_link {
        width: 100%;
        align-items: center;
        margin-left: -400px;
        margin-bottom:-6px;

    }

    .landing_logo {
        width: 35%;
    }

    .landing_bottom {
        width: 140px;
        font-size: 20px;
        outline: 3px solid var(--white);
        margin-bottom: none;
        margin-top: 25px;
  
        padding: 25px 0 24px 0;
        
    }

    /* =========== Footer Copy Right ============ */
    .social_icon {
        position: absolute;
        flex-direction: column;
        right: 49px;
        bottom: 189px;
        gap: 26px;
    }

    #icon {
        width: 40px;
    }

    .copy_right{
        width: 100%;
        margin-top: none;
        margin-bottom: 20px;
        
    }

    .copy_right .active{
        display: none;
    }

    .copy_right p {
       text-align: none;
        font-size: 19px;
        line-height: 23px;
        color: var(--light-grey);

    }
 /* =========== Video ============ */
    video{
      
        height: 600px;
        position: static;
        opacity: 1;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 60px;
        border: solid 5px var(--white);
        z-index: 22;
     }

 /* =========== Circulos ============ */
     .circle_vegayelow{
        display: block;
        position: absolute;
        z-index: 30;
     }

     .circle_1 {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        top: -140px;
        right: -140px;
        background-color: var(--vega-yellow);
    }

    .circle_2 {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        top: 313px;
        left: 106px;
        background-color: var(--vega-yellow);
        z-index: -3;
    }
    .circle_3 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        bottom: 331px;
        right: 152px;
        background-color: var(--vega-yellow);
    }
    .circle_4 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 313px;
        right: 112px;
        background-color: var(--vega-yellow);
    }
     /* =========== img olas ============ */

    .img_landing{
        display:block;
        position: absolute;
    }
    .olas_1 {
        bottom: 519px;
        right: 78px;
        z-index: -10;
    }
    .olas_2 {
        bottom: 348px;
        left: 52px;
        z-index: -10;
    }

}

@media only screen and (min-width: 834px) {


    .circle_2 {
        top: 351px;
        left: 161px;
  
    }
    .circle_3 {
        bottom: 323px;
        right: 211px;
    }
    .circle_4 {
        top: 356px;
        right: 155px;
    }
     /* =========== img olas ============ */

    .olas_1 {
        right: 145px;
    
    }
    .olas_2 {
        left: 127px;
    }
}

@media only screen and (min-width: 1024px) {
    main{
        flex-direction: row-reverse;
       }
    
        main::after{
            content: '';
            position: fixed;
            width: 90%;
            height: 90%;
            border-radius: 30px;
            border: solid 3px var(--white);
        }
    
      
        .landing_container{
            width: 40%;
            height: 80%;
            justify-content: space-between;
            margin: 0 -47px 0 41px;

        }
    
        .footer_and_buttom_section{
            display: block;
         
        }
       /*  .container_video{
            width: 60%;
        } */
        .buttom_conocemas_box{
            margin-bottom: 50px;
        }

        .landing_bottom{
            margin: 0;
        }
    
        .active_section{
            display: none;
        }

        .logo_link {
            width: 100%;
            align-items: center;
            margin-left: 0px;
            margin-bottom: 30px;
            
        }

        .landing_logo {
            width: 55%;
            /* top: 50px; */
        }
        .text_landing{
            margin-bottom: 30px;
        }

        .p1_text_landing{
            font-size: 40px;
        }
        
        .p2_text_landing{
            font-size: 30px;
        }

        .text_landing .text_landing_js{
            font-size: 55px;
        }


       /*  footer{
            margin-bottom: -10px;
        } */
    
         .social_icon {
            position: static;
            flex-direction:row;
            bottom: 189px;
            gap: 12px;
         }
     
         #icon {
            width: 31px;
        }
     
        .copy_right p span a {
        color:var(--white);
    }


    /* =========== circulos ============ */

    .circle_1 {
        width: 200px;
        height: 200px;
        top: 436px;
        right: -96px;
        z-index: -3;
        
    }

    .circle_2 {
        width: 130px;
        height: 130px;
        top: 142px;
        left: 85px;
    }

    .circle_3 {
        position: relative;
        bottom: 188px;
        left: 441px;
    }
    .circle_4 {
        top: 204px;
        left: 527px;
    }
     /* =========== img olas ============ */
    .olas_1 {
        bottom: 389px;
        left: 290px;
    }
    .olas_2 {
        bottom: 252px;
        left: 72px;
    }

}

@media only screen and (min-width: 1280px) {

    /* .landing_logo {
        width: 35%;
    } */

   

}