.title_pay_method {
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
}
.img_hero_paymethod {
  margin-top: 40px;
  max-width: 50%;
}

script p {
  color: var(--white);
}
.title_img img {
  align-items: flex-start;
}
.img_flecha {
  width: 39px;
}

.pay_info-form {
  flex-direction: column-reverse;
}

/* Info pay card */
.travel_contain_slider {
  justify-content: flex-end;
  /* gap: 20px; */
}

.img_viaje {
  width: 60%;
  border-radius: 18px;
}

.travel_box {
  position: absolute;
  width: 50%;
  height: auto;
  background-color: rgba(10, 25, 46, 0.78);
  border: solid 1.5px var(--white);
  border-radius: 18px;
  margin-bottom: 25px;
  padding: 8px 0;
}
.travel_box h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  align-items: flex-end;
}

.travel_box span {
  color: var(--white);
  font-size: 14px;
  opacity: 0.5;
}

.title_travel_box {
  padding: 15px;
  /* margin-bottom: 18px; */
  gap: 6px;
  flex-direction: column;
  /* justify-content: space-between;
    align-items: center;
    text-align: center; */
}
.title_travel_box p {
  color: var(--vega-yellow);
  font-weight: 800;
  font-size: 18px;
}

.paragraph_travel_box {
  width: 90%;
  /* align-items: flex-start; */
  /* gap: 5px; */
  /* margin-top: -20px; */
}

.paragraph_travel_box p {
  font-size: 14px;
  text-align: center;
}

.box_pay_descripton {
  /* width: 80%; */
  justify-content: space-around;
  margin-top: 50px;
  gap: 20px;
}
.box_pay_info h1 {
  text-align: center;
}
.box_pay_info p {
  font-size: 20px;
  font-weight: 600;
  color: var(--vega-yellow);
}
.box_pay_info span {
  color: var(--dark-grey-text);
}

.img_box_pay .img_hero {
  width: 100px;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box_text {
  text-align: center;
  max-width: 80%;
}
.box_text h2 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.box_text p {
  font-size: 14px;
  color: #858585;
  text-align: justify;
}

.regular_button a {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
}

.rating {
  margin: 20px;
  gap: 10px;
}

.box_pay_method {
  width: 80%;
  max-width: 400px;
  /* height: 660px; */
  /* margin: 50px 0 50px 0; */
  background-color: var(--dark-light-blue);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.information_paymethod {
  width: 90%;
  height: 90%;
  justify-content: space-evenly;
}
.information_paymethod h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--vega-yellow);
}
.name_banck_account {
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0 5px 0;
}

.banck_name {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0 5px 0;
}
/* .personal_contact::after{
    content: '';
    position: relative;
    top: 5px;
    width: 5px;
    height: 5px;
    background-color: var(--white);
} */

.banck_num {
  font-size: 18px;
  font-weight: 600;
}
.line_section {
  width: 80%;
  height: 2px;
  background-color: var(--white);
  margin: 20px 0 20px 0;
}
.important {
  height: 300px;
  background-color: var(--very-dark-blue);
  border-bottom-left-radius: 29px;
  opacity: 0.8;
}
.box_important_content {
  width: 90%;
}
.box_important_content h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box_important_content p {
  font-size: 15px;
  font-weight: 100;
}
/* .paypal_method{
    margin-bottom: 50px;
} */
.paypal_method h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.reservar {
  margin: 30px 0 30px 0;
}
.reservar h4 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}
.reservar p {
  font-size: 15px;
  font-weight: 100;
}

.schedule_button {
  width: 160px;
}

.comprobante_pago {
  width: 80%;
  font-size: 18px;
  gap: 5px;
  padding: 8px;
  outline: 2px solid var(--vega-yellow);
  border-radius: 24px;
  font-size: 700;
}
.comprobante_pago a i {
  font-size: 24px;
}

/* ========== Question Section =============== */
.question_section {
  width: 100%;
}

.info_box {
  width: 80%;
  height: 456px;
  border: solid 3px #fff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.signo_question_box {
  width: 100%;
}
.signo_question_box img {
  width: 3rem;
  margin-bottom: 35px;
}
.signo_question_box p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.name_info_box {
  width: 80%;
}

.name_info_box h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.name_info_box p {
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 10px;
}

.link_ws_infobox {
  width: 90%;
}
.link_ws_infobox p {
  color: var(--vega-light-blue);
}

@media only screen and (min-width: 425px) {
  .img_viaje {
    width: 70%;
  }
  .travel_box {
    max-width: 250px;
  }
}

@media only screen and (min-width: 520px) {
  .img_viaje {
    width: 75%;
  }

  .box_pay_method {
    /* width: 70%; */
    /* height: 900px; */
    /* margin: 50px 0 50px 0; */
  }

  .information_paymethod {
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    text-align: justify;
  }
  .information_paymethod h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--vega-yellow);
  }
  .name_banck_account {
    font-size: 35px;
    font-weight: 100;
    margin: 10px 0 5px 0;
  }

  .banck_name {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0 5px 0;
  }

  .banck_num {
    font-size: 28px;
    font-weight: 600;
  }
  .line_section {
    width: 80%;
    height: 2px;
    background-color: var(--white);
    margin: 20px 0 20px 0;
  }
  .important {
    height: 300px;
    background-color: var(--very-dark-blue);
    border-bottom-left-radius: 29px;
    opacity: 0.8;
  }
  .box_important_content {
    width: 90%;
  }
  .box_important_content h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .box_important_content p {
    font-size: 20px;
    font-weight: 100;
  }

  .paypal_method {
    margin-bottom: 50px;
  }
  .paypal_method h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .reservar {
    margin: 30px 0 30px 0;
  }
  .reservar h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .reservar p {
    font-size: 20px;
    font-weight: 100;
  }
}

@media only screen and (min-width: 768px) {
  .box_pay_descripton {
    flex-direction: row;
    gap: 80px;
  }
  .pay_info-form {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }

  .img_viaje {
    width: 80%;
  }
  .travel_box {
    max-height: 200px;
  }

  .travel_box {
    width: 341px;
    height: 337px;
    justify-content: space-evenly;
  }

  .pay {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  .img_viaje {
    width: 90%;
  }

  .box_pay_method {
    /* width: 50%; */
  }

  .info_box {
    width: 60%;
  }

  .box_card_travel_section {
    flex-direction: row;
    gap: 20px;
  }

  .img_viaje {
    height: 543px;
  }

  .travel_box {
    width: 253px;
    height: 281px;
    justify-content: space-evenly;
  }

  .title_travel_box {
    margin-bottom: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .img_viaje {
    height: 630px;
  }

  .travel_box {
    width: 282px;
    height: 281px;
    justify-content: space-evenly;
  }
}
